@use 'colors' as *;

.title {
  text-align: center;
  color: $accent;
}

.error {
  .title {
    text-align: left;
  }
  .content {
    margin-top: 1em;
  }
}

.form {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.categories-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 0.5em;
  margin-top: 0.5em;
  .category-item {
    border: 2px solid rgba($gray, 0.25);
    cursor: pointer;
    border-radius: 1em;
    background-color: $surface-light;

    text-align: center;
    align-content: center;

    padding: 1em 1.5em;

    color: rgba($accent, 0.7);
    .icon {
      margin: 0 auto 0.25em;
      display: block;
      font-size: 1.15rem;
    }
    p {
      font-size: 0.75rem;
    }
  }

  .category-item.selected {
    color: $accent;
    border: 2px solid $gray;
  }
}

.btns-container {
  display: flex;
  gap: 1em;
  button {
    flex: 1;
  }
}
