@use 'colors' as *;
@use 'mixins' as *;

.charts-container {
  margin-top: 1.5em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  @include desktop {
    flex-direction: row;
    gap: 0;
    justify-content: space-between;
    align-items: stretch;
  }
}

.chart {
  padding: 1em;
  border-radius: 1em;
  background-color: $surface-light;
  display: flex;
  flex-direction: column;
  @include desktop {
    width: 48.5%;
  }
  .title {
    font-size: 1.2rem;
    margin-bottom: 1em;
  }
  .chart-container {
    flex: 1;
    align-content: center;
    text-align: center;
    .no-expense {
      color: rgba($accent, 0.8);
      font-style: italic;
      padding-block: 1em 1.5em;
    }
  }
}
