$primary-clr: #57c785;
$primary: linear-gradient(90deg, rgba(87, 199, 133, 1) 0%, rgba(93, 212, 143, 1) 100%);

$on-primary: #fff;
$on-primary-container: rgba($on-primary, 0.4);
$on-primary-light: rgba($on-primary, 0.8);

$accent: #252525;
$accent-light: #cdcdcd;
$surface: #f0f0f0;
$surface-dark: #dfdfdf;
$on-surface-dark: #333;
$surface-light: #fff;

$gray: #999;
$error-accent: rgb(194, 29, 29);

$backdrop-bg: rgba(#000, 0.6);
